html{
    background: #333;
    color: #eee;
}

h1{
    padding: 1rem;
    font-size: 32px;
}

p {
    padding: 1rem;
}

img[src*="#small"] {
    width: 25%;
    height: 25%;
    /*width:220px;
    height:100px;*/
 }

ul{
    margin-left: 5rem;
    color: white;
    list-style: disc;
}

ul a 
{
    color: white;
}

header {
    border-bottom: 1px #F20505 solid;
}

header h1{
    font-family: Copperplate;
    font-size: 36px;
    font-weight: bolder;
    color:#F20505;
}

header nav{
    position: absolute;
    right: 20px;
    top: 30px;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 5px;
}

nav a {
    text-decoration: none;
}

nav li .active{
    color: #F20505;
}

.copyright {
    position: absolute;
    bottom: 0;
    color: #aaa;
    font-style: italic;
    text-align: center;
    margin: 0 0 5px;
    width: 100%;
}