html{
    background: #333;
    color: #ddd;
}

h1{
    padding: 1rem 1rem .5rem 1rem;
    font-size: 26px;
}

p {
    padding: 1rem;
}

img[src*="#small"] {
    width: 25%;
    height: 25%;
    /*width:220px;
    height:100px;*/
 }

ul{
    margin-left: 4rem;
}

a 
{
    color: #ddd;
}

a.back
{
    margin: 10px 10px 0 20px;
    display: inline-block;
    color: #666;
    font-size: 14px;
}

h1.title
{
    margin: 10px 20px 0 20px;
    padding: 0;
}

h2.published{
    margin: 0 20px 0 20px;
    color:#666;
    font-size: 14px;
}


p
{
    padding: 1em 1em 0 1em;
    text-indent: 1.5em;
}

header {
    border-bottom: 1px #F20505 solid;
}

header h1{
    font-family: Copperplate;
    font-size: 36px;
    font-weight: bolder;
    color:#F20505;
}

header nav{
    position: absolute;
    right: 20px;
    top: 30px;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 5px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li .active{
    color: #F20505;
}

.copyright {
    position: absolute;
    bottom: 0;
    color: #777;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    margin: 0 0 5px;
    width: 100%;
}


.character {
    background-color: #858585;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.character img{
    position: absolute;
    left: 200px;
    bottom: 100px;
}

.character .description {
    position: absolute;
    right: 200px;
    top: 200px;
    color: #333;
    width: 300px;
}

.character .description h1 {
    padding: 0;
    font-size: 32px;
}

.character .description p{
    padding: .5em 0 .5em 0;
}
