html{
    background: #333;
    color: #eee;
}

h1{
    padding: 1rem;
    font-size: 32px;
}

p {
    padding: 1rem;
}

img[src*="#small"] {
    width:220px;
    height:100px;
 }

ul{
    margin-left: 5rem;
    color: white;
    list-style: disc;
}

ul a 
{
    color: white;
}