<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        <meta name="description" content="Coding, Gaming and Whatever">
        <meta name="author" content="Andy Fry">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <main>
            <header>
                <h1 class="title">Rex Luscus</h1>
                <nav>
                    <ul>
                        <li><a href="/" {% if page.url === '/' %} class="active" {% endif %}>Home</a></li>
                        <li><a href="/posts" {% if page.url.startsWith('/posts/') %} class="active" {% endif %}>Posts</a></li>
                        <li><a  href="/files" {% if page.url.startsWith('/files/') %} class="active" {% endif %}>Files</a></li>
                    </ul>
                </nav>
            </header>

            <div class="content">
                {% block main %}
                    {{content | safe}}
                {% endblock %}
            </div>
            <p class="copyright">&copy; 2020 Andrew Dale Fry</p>
        </main>
    </body>