{% extends "layout.njk" %}

{% block main %}
    <a href=/posts class=back>Back To Posts</a>
    <h1 class=title>{{title}}</h1>
    <h2 class=published>
        <span class="label">Published:</span>
        <span class="date">{{page.date | date}}</span>
    </h2>
    {{content | safe}}
{% endblock %}